$yellow: white;

body {
	background-color: $yellow;

	p {
		font-size: 1.5em;
	    font-weight: 100;
	}
}

.row {
	ul > a {
		float: right;
		padding-left: 15px;
		
		.glyphicon-remove-circle {
			color:red;
		}
	}
}

.blog-masthead {
	background-color: #ea283d;
    -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
    box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);

    span {
    	color: #fff;
    	padding-right: 25px;
    }
    .container {
    	padding: 15px 0px;
    }
    .text-right {
    	float: right;
    }
}

.navbar {
	background-color: #fff;
	border-color: #fff;

	.nav {
		margin-top: 25px;
	}
	.nav > li {
	    padding-left: 5px;
	    padding-right: 5px;

	    span.icon {
	    	font-size: 2em;
	    	padding-right: 15px;
	    }
	}
	#navbar-nav {
		padding-top: 5px;
		padding-bottom: 15px;
	}
	.navbar-nav > li > a {
		color: #444343;
		padding-top: 20px;
	    padding-bottom: 20px;
	    font-weight: 500;
	    font-size: 1.1em;

	    .icon {
	    	padding-right: 10px;
	    	font-size: 20px !important;
	    }
	}
	.navbar-nav > li > a:hover{
		color: red;
		transition: background-color 0.4s ease;
	    -moz-transition: background-color 0.4s ease;
	    -webkit-transition: background-color 0.4s ease;
	}
	.navbar-nav > li > a:focus{
		color: #fff;
	}
	.navbar-nav > .active > a {
		background-color: #ea283d;
	}
	.navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
		background-color: #e20c23;
		transition: background-color 0.4s ease;
	    -moz-transition: background-color 0.4s ease;
	    -webkit-transition: background-color 0.4s ease;
	}
	.navbar-brand img {
		max-width: 40%;
	}
}

.page-header {
    position: relative;
    width: auto;
    padding: 0;
    margin: 0;
    overflow: hidden;
    border-bottom: 0px solid #fff;

    figure {
    	position: relative;
	    left: 0;
	    width: 100%;
	    margin: 0;
	    padding: 0;
	    min-height: 320px;

	    img {
    	    width: 100%;
			display: block;
			margin: 0 auto;
	    }
    }

    hgroup {
    	position: absolute;
	    width: 100%;
	    top: 50%;
	    left: 0;
	    height: 300px;
	    margin-top: -150px;
	    display: block;
	    text-align: center;
	    color: #fff;

	    .form-inlnie {

	    	p > span {
	    		color: #0896d6;
	    	}
	    }
    }
}

form {
	
	.input-group.address, .input-group.zipcode{
		padding-right: 8px;
	}
	.address  {
		.form-control {
			height: 50px;
			width: 350px !important;
		}
	}
	.zipcode {
		.form-control {
			height: 50px;
		}
	}
	.btn-primary, .btn-primary:hover, .btn-primary:focus {
		height: 50px;
		width: 150px;
		background-color: #ea283d;
		border-color: #ea283d;
		border-radius: inherit;
	}
}

.section.one-goodtogo {
	display: table;
    width: 100%;
    height: 150px;
    color: #fff;
    background-color: #ea283d;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

    .container {
    	padding-top: 60px;
    	padding-bottom: 60px;

    	h2 {
	    	font-weight: 100;
	    	fon

	    	strong{
	    		font-weight: 400;
	    	}
	    }
	    .text-callus {
	    	float: right;
    	    border: 1px solid #fff;
		    padding: 20px;
		    width: 350px;
	    }	
    }
   
}

.section{
	.first {
		padding-bottom: 30px;
	}
}
.section.two-restaurants {
	padding-top: 50px;

	.col-md-3 {
		max-height: 300px;
	}
}
.section.three-branches {
	padding-top: 50px;

	.row {
		padding-top: 30px;

		.delivery-location > img {
			margin: auto;
		}
	}

	.col-md-4 > img {
		margin: auto;
	}

	.border{
		border-bottom: 1px solid rgba(97, 97, 97, 0.98);
		top: 40px;
	}
}
.section.four-favorite-restaurant {
	background-color: #ea283d;
	color: #fff;

	.row {
	    padding-top: 50px;
	    padding-bottom: 40px;
	}

	p {
		font-size: 1em;
		font-weight: 200;
	}
}
.section.five-newsletter {
	padding-top: 50px;

	.row {
		padding-bottom: 50px;
	}
	h1 {
		color: #232323;
	}
	p {
		padding-top: 15px;
		font-size: 1.2em;
	}
	.form-inline {
		padding-top: 40px;
		text-align: center;
	}
}

.footer {
	position: absolute;
    width: 100%;
    height: 300px;
    background-color: #efecec;

    .row {
    	padding-top: 40px;

    	h1 {
		    font-size: 1.1em;
		    font-weight: 900;
	    }

	        ul {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				vertical-align:  middle;
				display: -webkit-inline-box;
				background-color: #ea283d;
			    border-radius: 50%;

				a {
					display: block;
					font-size: 1.4em;
					margin: auto;
					text-decoration: none;
					color: #fff;
					padding: 10px;
				}
			}

			li {
				height: 50px;
				width: 50px;
			}
	    }

	    .footer-content > span{
	    	color: #6d6d6b;
	    }
    }
}









